#myti {
    background-image: url(../../../../assets/images/myti-bg.png);
    height: 800px;

    .navbar {
        ._container {

            .logo {
                width: 186px;
                position: absolute;
                left: 0;
                top: 10px;
            }

            .nav-links {
                float: right;
                line-height: 92px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 25px;

                .nav-item {
                    display: inline-block;
                    margin: 0 20px;
                }
            }
        }
    }
}

