<div id="myti" class="_hero">
    <div class="navbar">
        <div class="_container">
            <img class="logo" src="../../../assets/images/logo.png" alt="">

            <div class="nav-links">
                <div class="nav-item">
                    <a href="#">Home</a>
                </div>
                <div class="nav-item">
                    <a href="#">Features</a>
                </div>
                <div class="nav-item">
                    <a href="#">Login</a>
                </div>
                <div class="nav-item">
                    <button class="_btn tx-upr">Sign Up</button>
                </div>

                <!-- <div class="nav-item">
                    <i class="fa fa-burger"></i>
                </div> -->
            </div>
        </div>
    </div>
    <div class="myti-content">
        <div class="_container">
            <div class="_row">
                <div class="heading">
                    <h2>#1 Fitness Tracker <br> Work Out Anytime. Anywhere.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <button class="_btn">Start Free Trial</button>
                </div>
                <div class="form-panel">
                    <form action="">
                        <h3>Sign Up</h3>
                        <span class="hr-divider-mini"></span>

                        <!-- <mat-list>
                            <mat-list-item> Pepper </mat-list-item>
                            <mat-list-item> Salt </mat-list-item>
                            <mat-list-item> Paprika </mat-list-item>
                           </mat-list> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>