<div id="myti" class="_hero">
    <div class="navbar">
        <div class="_container">
            <img class="logo" src="../../../assets/images/logo.png" alt="">

            <div class="nav-links">
                <div class="nav-item">
                    <a href="#">Home</a>
                </div>
                <div class="nav-item">
                    <a href="#">Features</a>
                </div>
                <div class="nav-item">
                    <a href="#">Login</a>
                </div>
                <div class="nav-item">
                    <button class="_btn">Sign Up</button>
                </div>

                <div class="nav-item">
                    <i class="fa fa-burger"></i>
                </div>
            </div>
        </div>
    </div>
</div>