<div id="main-features">
    <div class="_container">
        <div class="heading">
            <h3>Features The App</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="main-content">
            <img class="feature-img" src="../../../../assets/images/feature-img.png" alt="">
            <div class="features-list">
                <div class="feature-item">
                    <div class="icon">
                        <img src="../../../../assets/images/feature-icon-1.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Hundreds of Workouts</h4>
                        <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. Another projects managed with a easy design is what we stand for.incididunt ugt labore.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="../../../../assets/images/feature-icon-2.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Awesome Charts</h4>
                        <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. Another projects managed with a easy design is what we stand for.incididunt ugt labore.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="../../../../assets/images/feature-icon-3.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Training Calendar</h4>
                        <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. Another projects managed with a easy design is what we stand for.incididunt ugt labore.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="../../../../assets/images/feature-icon-4.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Share Your Results</h4>
                        <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod temporara. Another projects managed with a easy design is what we stand for.incididunt ugt labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>