@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

/* Normalize Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #e7e7e7;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/* Templates */
._hero {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}

._container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

._btn {
    background: #00cc83;
    padding: 12px 22px;
    border-radius: 3px;
    line-height: initial;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

._btn:hover {
    background: #00af72;
}

._btn:focus {
    outline: none;
}

// Material Icons
.material-icons {
  font-size: unset;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
