<div id="main-pricing">
    <div class="_container">
        <div class="heading">
            <h3>Pricing Plan</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="main-content">
            <div class="pricing-options">
                <div class="package">
                    <div class="header">
                        <h3>Basic</h3>
                        <div class="price">$000</div>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="content">
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-close"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-close"></i>
                             <span>Lorem ipsum dolor sit</span>
                        </div>

                        
                    </div>
                    <div class="_btn">
                        Get Started
                    </div>
                </div>

                <div class="package active">
                    <div class="header">
                        <h3>Standard</h3>
                        <div class="price">$000</div>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="content">
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-close"></i>
                             <span>Lorem ipsum dolor sit</span>
                        </div>

                        
                    </div>
                    <div class="_btn">
                        Get Started
                    </div>
                </div>

                <div class="package">
                    <div class="header">
                        <h3>Professional</h3>
                        <div class="price">$000</div>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="content">
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum</span>
                        </div>
                        <div class="offer">
                            <i class="fa fa-check"></i>
                             <span>Lorem ipsum dolor sit</span>
                        </div>

                        
                    </div>
                    <div class="_btn">
                        Get Started
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>